{% extends "base.html" %}
{% block title %}Contact - PCA Materials{% endblock %}
{% block body %}
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">

          <h2>Contact Details</h2>
          <h3>Dr Peter Cox <i>CEng, DIC, ACGI, FIMM, MIMechE</i></h3>
          <p><b>E-Mail</b> <a hreg="mailto:drpeter.cox@pca-materials.com">drpeter.cox@pca-materials.com</a></p>
          <p><b>Telephone</b> +44 (0)1488 72027</p>
          <p><b>Mobile</b> +44 (0)7713 608302</p>
          <hr/>
          <p>Member of:</p>
          <p><a href="http://www.pcn.org"><img src="/static/images/pcniLogo-small.gif"/></p>
          <p><a href="http://www.bpf.co.uk"><img src="/static/images/BPF Affiliate.jpg"/></p>
        </div>
        <div class="span1"></div>
      </div>
{% endblock %}