{% extends "base.html" %}
{% block title %}PCA Materials{% endblock %}
{% block body %}

    <div class="row-fluid">
        <div class="span12">
          <h2>Login</h2>

            <div id="msg" class="alert alert-block">&nbsp;</div>

            <form id="login_form" name="login_form" action="" method="POST">
                <label for="username">Username</label>
                <input name="username" id="username" type="text"/>
                <label for="password">Password</label>
                <input name="password" id="password" type="password"/>
                <button type="submit">Login</button>
            </form>


            <script src="/static/js/crypto-js/3.1.2/md5.js"></script>
            <script>
                $( "#login_form" ).submit(function( event ) {

                    username = $("#username").val();
                    password = $("#password").val();
                    password_md5 = CryptoJS.MD5(password).toString(CryptoJS.enc.Hex);

                    event.preventDefault();

                    $.post("{{ url_for('login') }}", { username: username, password_md5: password_md5 }, "json").done(function( data ) {
                        //alert( "Data Loaded: " + data );


                        $("#msg").text(data.message);
                        $("#msg").addClass("alert-" + data.message_level);

                    })
                });
            </script>
        </div>
      </div>
{% endblock %}