{% extends "base.html" %}
{% block title %}{{title}} - PCA Materials{% endblock %}
{% block body %}

      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
            {% if edit %}

            <script>
$(function() {
    $("#markdown_content").autoSave(function() {

        $.post('{{url_for("save_draft")}}', $('#content_form').serialize()).done(function() {
                $("#msg").text("Draft autosaved " + new Date());
                $("#msg").addClass("alert-success");
                $("#msg").removeClass("alert-error");
            }).fail(function() {
                $("#msg").text("Draft autosave failed " + new Date());
                $("#msg").addClass("alert-error");
                $("#msg").removeClass("alert-success");
            })

    }, 500);
});
            </script>

            <div id="msg" class="alert alert-block">&nbsp;</div>

            <form role="form" id="content_form" enctype="multipart/form-data" action="{{url_for('save')}}" method="post">
                <input hidden="true" id="url_from" name="url_from" value="{{request.url}}"/>
                <input hidden="true" id="markdown_file" name="markdown_file" value="{{markdown_file}}"/>
                <button type="submit" class="btn btn-default">Save</button>
                <div class="form-group">
                  <!--<label for="comment">Comment:</label>-->
                  <textarea class="form-control" rows="30" id="markdown_content" name="markdown_content" style="width:100%; font-family: Courier">{{markdown_content}}</textarea>
                </div>
                <!--<textarea class="form-control" cols="100" rows="20">{{markdown_content}}</textarea>-->
            </form>

            <p>
                <h3>History</h3>
                <ul>
                    {% for (history_key, history_date) in history %}
                    <li><a href="{{url_for('markdown_history', markdown_file=markdown_file, history_key=history_key)}}">{{history_date}}</a></li>
                    {% endfor %}
                </ul>
            </p>

            {% else %}

            {% if session.is_admin %}
            <p><a href="{{request.url}}?edit=true">Edit</a></p>
            {% endif %}

            {{content}}
            {% endif %}
        </div>
        <div class="span1"></div>
      </div>

{% endblock %}