{% extends "base.html" %}
{% block title %}PCA Materials{% endblock %}
{% block body %}

      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">

          <h2>Multilayer Polymer Constructs</h2>
          <p>Peter Cox Associates have a wide experience in the use and construction of multilayer polymer products in the following areas.</p>
          
          <h3>Oxygen Barrier Resistance</h3>
          
          <p>
            <ul>
              <li>Food packaging</li>
              <li>Cosmetic tubing</li>
              <li>Central heating pipes</li>
            </ul>
          </p>

          <h3>Fuel Resistance</h3>
          
          <p>
            <ul>
              <li>Small and large bore automotive uses</li>
              <li>Large bore transportation pipes</li>
            </ul>
          </p>

          <p>
          <legend>Typical pipe structures</legend>
          <img src="/static/images/Pcpaper2-smaller.jpg">
          </p>
        </div>
        <div class="span1"></div>
      </div>

{% endblock %}