{% extends "base.html" %}
{% block title %}News &amp; Bio - PCA Materials{% endblock %}
{% block body %}

      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">

          <h2>Recent Publications</h2>

          <p><a href="http://www.pcn.org/Technical%20Notes%20-%20Multi-Layer%20Structures.html">Multilayer Structures, Plastics Consultancy Network</a></p>

          <h2>News</h2>

          <p><b>October 2013</b> – Dr Peter Cox will be at K2013</p>
          <p><b>July 2013</b> – Dr Peter Cox will be at the EUROTEC Conference, Lyon, on the 4th and 5th July.</b>
          <p><b>May 2013</b> – Dr Peter Cox will be at the PDM exhibition at the Telford International Centre on the PCN Plastics Surgery stand (D021) on 18th and 19th June.</p>
Courses on coextruded and laminated multilayer structures in 2013 (see <a href="http://info.smithersrapra.com/courses/">http://info.smithersrapra.com/courses/</a> for the full details) are due to be held on 11th June (Sheet &amp; Film) and 12th June (Pipe and Blow Moulding), the second series of courses are scheduled for 9th and 10th October</p>
 
          <p><b>November 2012</b> – Dr Peter Cox appointed as reviewer for papers on Applied Rheology for ANTEC 2013</p>
          <p><b>November 2012</b> – Dr Peter Cox elected as Technical Chair of the SPE United Kingdom and Ireland Section</p>

          <p><b>June 2012</b> – Dr Peter Cox was appointed as the Technical Programme Chair for Extrusion at the SPE EUROTEC Lyon 2013 conference.</p>
          <p>The first courses on multilayer structures in 2012 (see RAPRA Technology Ltd for the full details) was held on the 19th June (Pipe and Blow Moulding) and 20th June (Sheet &amp; Film), the second series of courses are scheduled for 27th and 28th November</p>
          <p><b>May 2012</b> – Dr Peter Cox was on the “Ask the Consultant” stand at PDM, Excel, London, 29th &amp; 30th May.</p>
          <p><b>November 2011</b> – Dr Peter Cox presented a paper “Trends and Advances in Multilayer Structures” at EUROTEC, Barcelona.</p>
          <p><b>September 2011</b> – Dr Peter Cox was on the PCN stand, J46, at the Interplas show.</p>
          <p><b>May 2011</b> – Dr Peter Cox visited the Chinaplas exhibition</p>
          <p><b>October 2010</b> – Dr Peter Cox was at the K2010 exhibition from the 30th October to the 3rd November on the PCN stand, part of the BPF pavilion in Hall 12.   He met many people from across the world of polymer processing and welcomes all who are visiting this site.</p>
 
          <p><b>April 2009</b> - Dr Peter Cox gave a talk on "The history of co-extrusion and its current applications" at the Institute of Materials to the SPE and the Plastics Historical Society.</p>
          <p><b>February 2006</b> - Dr Peter Cox was elected as Chairman of the Plastics Consultancy Network (PCN).</p>
          <p>Dr Peter Cox led the very first training course on Mulitilayer Structures at RAPRA on the 23rd October 2003.  Since then the course has extended to 2 individual days covering Co-extrusion and Multilayer Structures for Pipe &amp; Blow Moulding applications on the first day and Sheet &amp; Film applications on the second day.  Both days cover the requirements of co-extrusion and the properties of barrier polymers as well as the specialised equipment required for the particular application.</p>
        </div>
        <div class="span1"></div>
      </div>
{% endblock %}